body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #27282b;
}

div.canvasViewerContainer {
	position: fixed;
	left: 8px;
	bottom: 8px;
	width: 130px;
}

div.canvasViewer {
	width: 96px;
	height: 96px;
	margin-top: 8px;
	position: relative;
}

div.canvasViewer canvas {
	position: absolute;
	width: 96px;
	height: 96px;
	display: block;
}

div.canvasViewer label {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.05em;
	text-shadow: 0 0 5px #000;
	font-size: 8pt;
	position: absolute;
	bottom: 4px;
	left: 4px;
}

#threeJS_canvas {
	z-index: -1;
}
